* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: row;

  font-size: 16px;
  font-family: 'Zilla Slab', serif;

  color: #252525;

  background-color: #fff;
}

body {
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: flex-start;
  align-items: center;

  padding: 4rem 0 0 4rem;
}

.artist-infomations {
  line-height: 3.5rem;
}

.artist-infomations h1 {
  font-size: 3rem;
}

.artist-infomations hr {
  max-width: 28.25rem;
  height: 0.25rem;

  background-color: #333333;
  border: none;
}

.artist-infomations p {
  max-width: 28.25rem;

  font-size: 1.25rem;
  font-family: 'Inter', serif;
  font-weight: 400;
  line-height: 1.5rem;

  margin: 1.25rem 0;
}

.artist-infomations button {
  width: 11rem;
  height: 3.5rem;

  background-color: #e3b635;

  border-radius: 9999px;

  border: none;

  cursor: pointer;
}

.artist-infomations button:hover {
  filter: brightness(0.9);

  transition: all 0.25s;
}

.artist-infomations h1 + h1 {
  margin: 0.25rem 0 1rem;
}

.artist-infomations h1 span {
  color: #e3b635;
}

.artist-infomations button p {
  font-size: 1rem;
  font-family: 'Inter', serif;
  font-weight: 500;
  line-height: 1rem;
}

.cards {
  display: flex;

  gap: 1.25rem;

  margin-top: 2rem;
}

.cards div {
  display: flex;
  flex-direction: column;

  width: 11rem;
  height: 11rem;

  align-items: flex-start;
  text-align: left;

  padding: 1.5rem 3rem;

  gap: 0.625rem;

  background-color: #242424;

  border-radius: 18px;
}

.cards div:hover {
  filter: brightness(0.8);

  transition: all 0.25s;
}

.cards div img {
  width: 1.5rem;
  height: 1.5rem;
}

.cards div h3 {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  color: #fff;
}

.cards div p {
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;

  color: #fff;
}

.artist {
  display: flex;
  flex: 1;

  overflow: hidden;

  justify-content: center;
  align-items: center;
}

.artist img {
  height: 100%;
}

@media (max-width: 80rem) {
  .artist img {
    height: 60%;
  }
}

@media (max-width: 64rem) {
  .content {
    justify-content: center;

    padding: 4rem;
  }

  .artist-infomations {
    margin: 0 auto;
  }

  .artist {
    display: none;
  }

  .cards {
    margin: 2rem auto 0;
  }
}

@media (max-width: 48rem) {
  .content {
    padding: 2rem;
  }
}

@media (max-width: 40rem) {
  .content {
    height: max-content;

    padding: 1rem;
  }

  .artist-infomations button {
    width: 100%;
  }

  .cards {
    flex-wrap: wrap;

    justify-content: center;

    padding-bottom: 1rem;
  }
}

@media (max-width: 24rem) {
  .cards div {
    width: 100%;

    justify-content: center;
  }
}
